@font-face {
  font-family: FuzzyBubbles;
  src: url(assets/fonts/FuzzyBubbles-Regular.ttf);
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: FuzzyBubbles;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.main-section>* {
  /* flex: 1; */
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside {
  text-align: center;
  width: 300px;
  border-left: 2px solid black;
  overflow-y: scroll;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
}

.palette>* {
  margin: 0 10px;
}

.color-container {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.box-1 {
  background-color: #24680a;
}

.box-2 {
  background-color: #13579b;
}

.box-3 {
  background-color: #abcdef;
}

.box-4 {
  background-color: #098765;
}

.box-5 {
  background-color: #db4120;
}

p {
  text-align: center;
}

img {
  margin-left: 7px;
}

button {
  padding: 15px;
  margin: 100px 100px 200px;
  font-family: inherit;
}

.buttons {
  display: flex;
  justify-content: center;
}